# Database connection URL
DATABASE_URL=
DB_NAME=warehouse
DB_USER=postgres
DB_PASSWORD=postgres

# Server port
PORT=5001

# AWS Cognito configuration
AWS_REGION=us-east-2
COGNITO_USER_POOL_ID=us-east-2_ETIfJzucv
COGNITO_CLIENT_ID=3198u44gpij86elvq5lp8kkasn

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=