name: Deploy Backend to EC2

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH and deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu

            if [ -d "warehouse-management-system" ]; then
              echo "Deleting old project files"
              rm -rf warehouse-management-system
            fi


            echo "Cloning the repository"
            git clone --filter=blob:none --no-checkout https://github.com/Zmley/warehouse-management-system.git
            cd warehouse-management-system
            git checkout transfer-productions-to-main-warehouse

            git sparse-checkout init --cone
            git sparse-checkout set server

            cd server

            curl -fsSL https://deb.nodesource.com/setup_18.x | sudo -E bash -
            sudo apt-get install -y nodejs
            sudo npm install -g yarn pm2

            yarn install

            yarn build


            NODE_ENV=production pm2 restart server || NODE_ENV=production pm2 start dist/server.js --name server
